
<div class="container">

			<form  action="/users/login" method="POST">
				<div class = "logo">

					<img src='logo.png' class="img-fluid" alt="logo" />
				</div>
				<%- include('partials/messages') %>

				<div class="form-group">
					<input required type="email" class="form-control" id="email" name="email" placeholder="Enter email" ></input>
				</div>
				<div class="form-group">
					<input required type="password" id="password" name="password" class="form-control" placeholder="Password"  ></input>
				</div>
				<div class="button flex-parent">
					<button type="submit" id="login" class="btn btn-secondary">Login</button>
				</div>
				<div class="button flex-parent">

				<a class="btn btn-secondary" href="/users/registration">Create a new Account</a>
				</div>
			</form>

</div>
