body, html {
  height: 100%;
  width: 100%;
  background-color: #fff1d7 !important;
}

.App {
  text-align: center;
  height: 100%;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  max-width: 20rem;
}

#root {
  height: 100%;
}

.jumbotron {
  color: #000000;
}

.content-container {
  background-color: #ffe3ae !important;
}

.brown-border {
  border-color: #d39c2f !important;
  border: solid 4px !important;
}

.chess-king {
  color: #d39c2f;
  margin-right: 3rem;
}

.admin {
  height: 100%;
  width: 100%;
}

.table_heading {
  background-color: #ffe3ae;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.ag-root, .ag-header, .ag-row{
  background-color: #fff1d7 !important;
}

.ag-cell{
  text-align: left;
}

.delete_button {
  margin-top: 40px;
}