body, html {
  height: 100%;
  width: 100%;
  background-color: #fff1d7 !important;
}

.App {
  text-align: center;
  height: 100%;
}

.card {
  max-width: 20rem;
}

#root {
  height: 100%;
}

.jumbotron {
  color: #000000;
}

.content-container {
  background-color: #ffe3ae !important;
}

.brown-border {
  border-color: #d39c2f !important;
  border: solid 4px !important;
}

.chess-king {
  color: #d39c2f;
  margin-right: 3rem;
}

.navbar {
  background-color: #A77A23;
  height: 80px;
  padding-top: 5px;
  margin-bottom: 5em;

}
.navbar-brand {
  margin: 0;
  padding: 0 !important;
}
.navbar-text.navbar-right {
  color: #fff;
  font-size: 20px;
  margin-right: 1em;
}
.active{
  color: #ffff;
}
.img-responsive {
  height: 50px; 
  padding-right: 15px;
  padding-left: 5px;
}
.btn-logout {
  color: #ffff;
}

@media screen and (max-width: 600px) {
  .header-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .navbar-text.navbar-right {
    font-size: 16px;
  }
  .img-responsive {
    content: url('./mobile-logo.png');
  }
}
